# Unity 관련 폴더 및 파일 제외
/Library/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# 메모리 캡처 및 녹화 파일 제외
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Asset Store Tools 플러그인 제외 (필요 시 주석 해제)
# /[Aa]ssets/AssetStoreTools*

# JetBrains Rider 자동 생성 플러그인 제외
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio 및 Gradle 관련 파일 제외
.vs/
.gradle/

# 자동 생성된 솔루션 및 프로젝트 파일 제외
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity 메타 파일 및 충돌 보고 파일 제외
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt

# 빌드 파일 제외
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics 빌드 파일 제외
crashlytics-build.properties

# Packed Addressables 제외
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# 임시 Android Assets 제외
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
